<div class="jumbotron">
    <h1>Добавить отзыв</h1>
    <p class="lead">Это наш первый проект, поэтому мы будем рады услышать комментарии от вас!</p>

    <form class="mt-2 w-50 mx-auto">
        <input type="text" placeholder="Введите имя" name="name" class="form-control"><br>
        <input type="email" placeholder="Введите Email" name="email" class="form-control"><br>
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Введите ваше сообщение"></textarea>
          </div>
        <button class="btn btn-success">Отправить</button>
    </form>
  </div>
  <p>Здесь/в отзывах будут выводиться отзывы</p>
